services:
  my-market-app:
    build: my-market-app-module
    container_name: my-market-app
    ports:
      - "8080:8080"
    depends_on:
      mma-cache:
        condition: service_healthy
      payment-server:
        condition: service_healthy
    networks:
      - mma-net
    environment:
      SPRING_DATA_REDIS_HOST: mma-cache
      SPRING_DATA_REDIS_PORT: 6379
      PAYMENT_SERVER_URL: http://payment-server:8081
    healthcheck:
      test: "curl --fail --silent my-market-app:8080/actuator/health | grep UP || exit 1"
      timeout: 5s
      interval: 20s
      retries: 5

  mma-cache:
    image: redis:7.4.2-bookworm
    container_name: redis-mma-cache
    restart: always
    ports:
      - "6379:6379"
    networks:
      - mma-net
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      timeout: 5s
      interval: 20s
      retries: 5
      start_period: 5s

  payment-server:
    build: payment-module
    container_name:   payment-server
    ports:
      - "8081:8081"
    networks:
      - mma-net
    healthcheck:
      test: "curl --fail --silent payment-server:8081/actuator/health | grep UP || exit 1"
      timeout: 5s
      interval: 20s
      retries: 5

#  mma-db:
#    image: postgres:16.1
#    container_name: postgres-mma-db
#    ports:
#      - "5432:5432"
#    networks:
#      - mma-net
#    environment:
#      POSTGRES_DB: mma_db
#      POSTGRES_PASSWORD: root
#      POSTGRES_USER: root
#    healthcheck:
#      test: pg_isready -q -d mma_db -U $$POSTGRES_USER
#      timeout: 5s
#      interval: 10s
#      retries: 15

networks:
  mma-net: