services:
  my-market-app:
    build: .
    container_name: my-market-app
    ports:
      - "8080:8080"
    networks:
      - mma-net
    healthcheck:
      test: "curl --fail --silent my-market-app:8080/actuator/health | grep UP || exit 1"
      timeout: 5s
      interval: 20s
      retries: 5

networks:
  mma-net: