server.port: 8080

spring:
  application:
    name: my-market-app
  datasource:
    url: jdbc:h2:file:${project.dir:.}/db/data;MODE=PostgreSQL;DEFAULT_NULL_ORDERING=HIGH
    driverClassName: org.h2.Driver
    username: admin
    password: admin
  sql:
    init:
      mode: always
  output:
    ansi:
      enabled: ALWAYS
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

logging:
  level:
    root: INFO
    org:
      springframework:
        web:
          client:
            RestTemplate: INFO
        orm:
          jpa: INFO
      hibernate:
        orm:
          jdbc:
            bind: trace